<div class="container">
  <div class="row">
    <!-- <p>Name:{{ empdata.name }}</p>
    <p>Age:{{ empdata.age }}</p>
    <p>salary:{{ empdata.salary }}</p> -->
    <div class="form-group">
      <label>Name:</label>
      <input [(ngModel)]="employee.name" class="form-control" />
    </div>
    <div class="form-group">
      <label>Age:</label>

      <input [(ngModel)]="employee.age" class="form-control" />
    </div>
    <div class="form-group">
      <label>Salary:</label>

      <input [(ngModel)]="employee.salary" class="form-control" />
    </div>

    <div class="form-group ">
      <label>Increment:</label>
      <input
        class="form-control"
        name="hike"
        [(ngModel)]="hike"
        type="number"
        (keyup.enter)="increment($event)"
      />
    </div>
    <div class="form-group">
      <label for="appraisal">Hike%:</label>
      <input class="form-control" [(ngModel)]="appraisal" />
    </div>
    <div class="form-group">
      <label for="currentSalary">currentSalary:</label>
      <input [(ngModel)]="salary" class="form-control" />
    </div>

    <button class="btn btn-info" (click)="save($event, employee)">
      save
    </button>
  </div>
</div>
