<div class="container">
  <div class="row">
    <a href="/create">
      <button class="btn btn-info" style="float: right;">
        Add Employee
      </button></a
    >

    <table class="table table-striped" bordered="true">
      <thead>
        <tr>
          <th style="width: 25%">
            EmployeeName
          </th>
          <th style="width: 25%">
            EmployeeAge
          </th>
          <th style="width: 25%">
            Employeesalary
          </th>
          <th style="width: 25%">
            Location
          </th>
        </tr>
      </thead>
      <tbody *ngFor="let employee of employees">
        <tr style="text-align: left">
          <td>{{ employee.name }}</td>
          <td>{{ employee.age }}</td>
          <td>{{ employee.salary }}</td>
          <td>{{ employee.city }}</td>

          <td>
            <button class="btn btn-primary" (click)="edit($event, employee)">
              update
            </button>
          </td>
          <td>
            <button
              class="btn btn-danger"
              (click)="deleteEmployee($event, employee)"
            >
              delete
            </button>
          </td>
        </tr>
        <tr>
          <td colspan="5" class="details">
            <app-update-employee
              *ngIf="showDiv"
              [employee]="employee"
              (closePane)="changeCount(event)"
            ></app-update-employee>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
