<div class="update">
  <form (ngSubmit)="updateEmployee($event, employee)">
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        [(ngModel)]="employee.name"
        name="name"
      />
    </div>

    <div class="form-group">
      <input
        type="text"
        class="form-control"
        [(ngModel)]="employee.age"
        name="age"
      />
    </div>
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        [(ngModel)]="employee.salary"
        name="salary"
        disabled
      />
    </div>
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        [(ngModel)]="employee.city"
        name="city"
      />
    </div>
    <input type="submit" value="Update" class="btn btn-info button" />
    <input
      type="submit"
      value="close"
      class="btn btn-warning"
      (click)="clear()"
    />
  </form>
</div>
<app-manage-appraisal
  *ngIf="showDiv"
  [employees]="employee"
></app-manage-appraisal>
